html {
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* The header styles */
#intro {
  display: flex;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
#overlay {
  background-color: rgba(86, 106, 51, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* opacity: 0.5; */
}
#nav-wrapper {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100vw;
  /* height: 100vh; */
}
#myName {
  color: white;
  padding: 15px;
  width: 100vw;
  height: 0;
}
.navBar {
  margin-left: 9vw;
}
.tag-color {
  color: lightgreen;
}
.navBarList {
  display: flex;
  width: 76vw;
  justify-content: flex-end;
  margin-left: 15px;
}
.navBarItems {
  list-style: none;
  padding: 1vw;
}
.navItem {
  color: white;
}
.navItem:hover {
  cursor: pointer;
  color: lightgreen;
  opacity: 1;
  text-decoration: none;
  transition: 100ms;
}
#labelName {
  color: white;
  position: relative;
  width: 50vw;
  top: 50vh;
  left: 33vw;
}

#labelName i {
  color: white;
  font-size: 40px;
}
#labelName i:hover {
  cursor: pointer;
  color: lightgreen;
  transition: 150ms;
}

#tagline {
  text-align: center;
  width: 30vw;
}

#social-media {
  display: flex;
  justify-content: space-evenly;
  margin: 3em;
  margin-right: 20em;
}
#social-media i {
  margin-right: 0.2em;
}

/* this is the end of header styles */

/* This is the about styles */
#about-wrapper {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(71, 71, 71);
  /* height: 100vh; */
  color: white;
  text-align: center;
}

#greeting {
  font-size: 60px;
}

.aboutDiv {
  margin-top: 10vh;
  width: 100vw;
  line-height: 1;
}
.aboutList {
  width: 80vw;
  margin-left: 10vw;
  font-size: 30px;
  padding: 1em;
  align-items: flex-start;
}
#underline {
  margin-left: 30vw;
  border: 1px solid black;

  background-image: linear-gradient(lightgreen, black);
  box-shadow: 13px 10px 22px 0px rgba(0, 0, 0, 0.91);
  width: 40vw;
  height: 5px;
  border-radius: 30px;
}
/* this is the end of the about styles */
/* This is the start of Skills styles */
#skills-wrapper {
  height: 100vh;
}

/* This is the end of Skills styles */
